* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../imagenes/fondo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(240, 233, 158);
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div img {
    width: 200px;
    margin: 30px;
}

nav {
    margin: 20px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #0eedf5;
    padding: 5px;
    margin: 10px;
}

nav a:hover {
    color: coral;
}

h1 {
    text-align: center;
    font-size: 45px;
    padding: 10px;
    margin: 20px;
    color: #0eedf5;
}

h2 {

    font-size: 25px;
    color: #0eedf5;
    padding: 15px;
    margin: 20px;
}

.sinopsis p {
    padding: 20px;
    margin: 30px;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    margin: 40px;
}

.tarjetas {
    width: 200px;
    background: linear-gradient(180deg, rgb(245, 89, 245), rgb(45, 49, 153), rgb(8, 14, 65));
    padding: 20px;
    margin: 20px;
    border: solid magenta 2px;
    text-align: center;
    border-radius: 15px;
    opacity: 0.8;
}

.tarjetas:hover {
    transform: scale(1.11)
}

.tarjetas img {
    width: 100px;
    border-radius: 50%;
}

h3 {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.Online {
    display: flex;
    margin: 90px 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.Online img {
    width: 260px;
    margin-left: 70px;
    padding: 10px;
    border-radius: 10%;
}

.Online a {
    width: 130px;
    background-color: rgb(112, 45, 133);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #0eedf5;
    margin: 20px;
    padding: 10px;
    border-radius: 10%;
    font-weight: bold;
}

.Online a:hover {
    color: coral;
}

.footer {
    padding: 30px;
    margin: 50px;
    color: #0eedf5;
    text-align: center;
}

.footer p {
    padding: 5px;
}

@media(max-width: 600px) {

    main {
        margin-left: 20px;
        margin-right: 20px;
    }

    .Online img {
        width: 50%;
    }

    .Online a {
        width: 65px;
        font-size: 12px;
        padding: 5px;
        margin: 15px;
    }
}