/* reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilado del Body */
body {
    background-image: url(../imagenes/fondo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(111, 245, 73);
}

/* Estilado del header */
header {
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav ul a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(39, 213, 214);
    padding: 5px;
    margin: 10px;
}

nav a:hover {
    color: coral;
}

/*Estilado Main*/

main {
    padding: 10px;
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 45px;
    padding: 10px;
    margin: 20px;
    margin-bottom: 50px;
    color: rgb(39, 213, 214);
}

h2 {
    font-size: 30px;
    color: rgb(39, 213, 214);
    padding: 10px;
    margin: 20px;
}

.sinopsis {
    background-color: rgba(226, 206, 22, 0.199);
    display: flex;
    border: solid rgb(39, 213, 214) 1px;
    border-radius: 10px;
    gap: 10px;
    margin-bottom: 20px;
}

.sinopsis img {
    width: 180px;
    border-radius: 15px;
    padding: 10px;
}

.sinopsis p {
    padding: 20px;
    color: rgb(111, 245, 73);
}

.titulo-personajes {
    text-align: center;
}

/* Estilos contenedor dinámico */

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    gap: 10px;
}

.tarjetas {
    width: 200px;
    background: linear-gradient(180deg, rgb(245, 89, 245), rgb(64, 201, 201), rgb(8, 14, 65));
    padding: 20px;
    margin: 30px;
    border: solid magenta 2px;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    opacity: 0.8;
}

.tarjetas:hover {
    transform: scale(1.11)
}

.tarjetas img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 4px 2px rgb(112, 45, 133);
}

h3 {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: rgb(250, 247, 107);
}

/* Estilos sección Ver-Serie */

.Ver-Serie {
    display: flex;
    margin: 90px 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.Ver-Serie img {
    width: 300px;
    padding: 10px;
    border-radius: 10%;
}

.Ver-Serie a {
    width: 130px;
    background-color: rgb(112, 45, 133);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: rgb(39, 213, 214);
    margin: 20px;
    padding: 10px;
    border-radius: 10%;
    font-weight: bold;
}

.Ver-Serie a:hover {
    color: coral;
}

/*Estilado Footer*/
.footer {
    padding: 30px;
    color: rgb(39, 213, 214);
    text-align: center;
}

.footer p {
    padding: 5px;
}

.footer a img {
    width: 80px;
    margin: 10px;
}

.footer a :hover {
    transform: scale(1.11)
}

/* Responsive desing */

@media(max-width: 600px) {

    header,
    .sinopsis,
    .Ver-Serie {
        flex-direction: column;
        gap: 10px;
        margin: 0px;
    }

    nav ul a {
        margin: 5px;
    }

    .sinopsis {
        text-align: center;
        padding-top: 20px;
    }
}